# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/
ckeditor_uploads/

# Environment variables
.env

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/
*.swp
